.base{
  /*background-image: linear-gradient(to bottom right, #E0C3FC, #8A6DE9);*/
  min-height: 100vh;
  overflow: auto;
}

.forms{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.search{
  width: 100%;
  height: 40px;
  align-self: center;
}

.search-performed{
  background-color: #28a745;
}

.search-performed:hover{
  background-color: #218838;
}