.title{
  color: black;
}

.fields{
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.fields:hover{
  background-color: #D198F9;
}

.links{
  color: blue;
  font-size: 20px;
}

.links:hover{
  color: lightblue;
}